.App {
  text-align: center;
  font-family: 'roboto';
}

.App-header {
  padding-right: 10vh;
  padding-left: 10vh;
  background-color: #22181C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F6E8EA;
}

.red {
  color: #F13030;
}

h1 {
  margin-bottom: 0;
}

h4{
  margin: 0;
  font-size: 20px;
}

button {
  width: 80%;
  padding: 10px;
  margin: 1em;
}

a {
  color: #F6E8EA;
  margin: 10px;
  background-color: #474747;
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
}

.flex-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
